* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    background-color: rgb(34, 34, 34);
    overflow: hidden;



}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.container {
    display: grid;
    padding: 10xp;
    gap: 50px;
    margin: 48px;

}

.item {
    background-color: #f1f1f170;
    padding: 65px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


/*
.Banker {
    max-width: 70%;
}
*/

.Intol {
    grid-column: 1 / span 3;
    grid-row: 2;
}

p {
    position: relative;
    bottom: 50px;
    right: 30px;
}

select {
    position: relative;
    bottom: 50px;
    right: 25px;
}

button {
    font-family: 'Arial Narrow', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.loan-button,
.repay-button {
    position: relative;
    top: 40px;
    right: 25px;
}

.bank-button,
.work-button {
    position: relative;
    top: 60%;
    right: 25px;
}

.loan-button {
    background-color: rgb(0, 255, 145);

}

.bank-button {
    background-color: rgb(236, 236, 3);
}

.work-button {
    background-color: rgb(0, 0, 239);
    color: #f1f1f1;
}

.buy-button {
    background-color: rgb(94, 213, 252);
    position: relative;
    left: 970px;
    top: 40px;
}

laptopBilder {}